.app {
  text-align: center;
  background-color: blueviolet;
  color: aqua;
}

.tag-container {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  background-color: blueviolet;
  color: aqua;
}
